---
layout: default
---

<div class="main-content">

    <article class="module color-3">
        <h1>{{ page.title }}</h1>
        <h4>This article is about {{ page.tags | array_to_sentence_string }}</h2>
        <hr>

        {{ content }}

        <p class="top"><small><a href="#top">[top]</a></small></p>
    </article>


    <div class="social module">
        <ul>

            {% assign tagStr = '' %}
            {% capture url %}{{ site.url }}{{ page.url }}{% endcapture %}
            {% if page.shortUrl != null %}
                {% assign url = page.shortUrl %}
                {% for tag in page.tags %}
                    {% capture tagStr %}{{ tagStr }},{{ tag }}{% endcapture %}
                {% endfor %}
            {% endif %}

            <li class="fb"><a target="_blank" title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?t={{ page.title }}&u={{ url }}">Facebook</a></li>
            <li class="tw"><a target="_blank" title="Share on Twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ url }}&via={{ site.twitter }}&hashtags={{ tagStr }}">Twitter</a></li>
            <li class="gp"><a target="_blank" title="Share on Google+" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}">Google+</a></li>
        </ul>
    </div>

    {% include disqus.html %}
</div>



